* {
    margin: 0;
    padding: 0;
}

body{
    height: 5000px;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    width: 100%;
    position: fixed;
    background-color: #ddd;
    display: flex;
    padding: 20px 0;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    width: 30%;
    display: flex;
    /* background-color: aquamarine; */
    justify-content: space-between;
}

li {
    list-style: none;
    font-size: 18pt;
}

a {
    text-decoration: none;
    color: black;
}

.home-btn button{
    font-size: 20pt;
    padding: 0 10px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
}